@keyframes scrolling {
  0% {
    transform: translateX(-70rem);
  }
  100% {
    transform: translateX(95rem);
  }
}

.scroll-content {
  animation: scrolling 20s linear infinite;
  list-style: none;
  height: 100%;
  display:flex;
}
