@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap")*/

html {
  /* scroll-behavior: smooth; */
  direction: rtl;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "Lalezar-Regular";
  src: local("Lalezar-Regular"),
    url(./fonts/Lalezar-Regular.ttf) format("truetype");
}

body {
  direction: rtl;
  font-family: Lalezar-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
